= render "shared/header_icon"

.creditcard
  .card
    = form_with url: product_creditcards_path(@product.id), method: :post, html: { name: "inputForm" } do |f|
      .card__title
        クレジットカード情報入力
      .card__registration__label
        カード番号
        .card__registration__label__required
          必須
      = f.text_field :card_number, type: 'text', placeholder: '半角数字のみ', maxlength: "16"
      .card__registration__label
        有効期限
        .card__registration__label__required
          必須
      .card__registration__expiration
        = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'input-expire'
        .card__registration__expiration__month
          月
        = f.select :exp_year, [["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029],["30",2030]],{} , class: 'input-expire' 
        .card__registration__expiration__year
          年
      .card__registration__label
        セキュリティコード
        .card__registration__label__required
          必須
      = f.text_field :cvc, type: 'text', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4"
      .card__btn#card_token
        = f.submit '追加する', id: 'token_submit'