%body
  %header
    .icon
      = image_tag asset_path('logo/logo.png'), :size =>'185x49'
  .signup__main
    .signup__main__container
      .signup__main__container__head
        %p 会員登録
      .signup__main__container__body
        = link_to new_user_registration_path do
          .signup__main__container__body__option.mail
            %i.fas.fa-envelope>
            メールアドレスで登録
        = link_to user_google_oauth2_omniauth_authorize_path, method: :post do
          .signup__main__container__body__option.google
            %i.fab.fa-google>
            Googleで登録
        = link_to user_facebook_omniauth_authorize_path, method: :post do
          .signup__main__container__body__option.facebook
            %i.fab.fa-facebook-f>
            Facebookで登録
        = link_to "#" do
          .signup__main__container__body__option.apple
            %i.fab.fa-apple>
            Appleでログイン
        .signup__main__container__body__confirmation
          %p
            登録することで、
            %a{:href => "https://www.mercari.com/jp/tos/", :target => "_blank"}> 利用規約
            と
            %a{:href => "https://www.mercari.com/jp/privacy/ ", :target => "_blank"}> プライバシーポリシー
            に同意したものとみなされます。
    .footer
      .footer__top
        %ul
          = link_to 'https://www.mercari.com/jp/tos/' do
            %li プライバシーポリシー
          = link_to 'https://www.mercari.com/jp/tos/' do
            %li furima利用規約
          = link_to 'https://www.mercari.com/jp/tos/' do
            %li 特定商取引に関する表記
