.content__title
  %h2 支払い方法
.content__credit-cards
  %h3 クレジットカード一覧
  - if @card.present?

    %ul.content__credit-cards__list
      %li
        = form_with url: card_path(@card), method: :delete, local: true, id: 'charge-form' do |f|
          -# カードブランドのアイコンを表示する場合-----
          %figure
            
            = image_tag "credit_brand/#{@card_src}", width: '34', height: '20', alt: @card_brand, id: "card_image"
          -#----------------------------------
          .content__credit-cards__list--pay-num
            = "**** **** **** " + @card_information.last4
          .content__credit-cards__list--pay-num
            - exp_month = @card_information.exp_month.to_s
            - exp_year = @card_information.exp_year.to_s.slice(2,3)
            = exp_month + " / " + exp_year
          %input{type: "hidden", name: "card_id", value: ""}
          = f.submit "削除する", {class: "content__credit-cards__list__remove"}
          - if flash[:notice]
            .alert.alert-success
            = flash[:notice]
          - if flash[:alert]
            .alert.alert-dange
            = flash[:alert]
  - else
    .add__card
      .payment__list__content
        = link_to new_card_path, class: "red__btn", data: {"turbolinks" => false} do
          %i
          = icon('fas', 'credit-card', class: "card__icon")
          クレジットカードを追加する 
          -# カードが登録されていない場合は登録ボタンを表示するようにしています。











.card-wrapper
  .content__title 
    %h2 クレジットカード情報入力
  .content__credit-card
    .content__credit-card__inner
      = form_with url: cards_path, method: :post, html: { name: "inputForm" } do |f|
        = f.label :カード番号, class: 'label'
        %span 必須
        = f.text_field :card_number, type: 'text', class: 'form-control', placeholder: '半角数字のみ', maxlength: "16"
        .cards-expire
          = f.label :有効期限, class: 'label'
          %span 必須
          %br
          .cards-expire__wrap
            = f.select :exp_month, [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]],{} , class: 'input-expire'
            %span.expire-text 月
            %br
          .cards-expire__wrap
            = f.select :exp_year, [["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]],{} , class: 'input-expire'
            %span.expire-text 年
        .cards-expire
          = f.label :セキュリティコード, class: 'label'
          %span 必須
          = f.text_field :cvc, type: 'text', class: 'input-number', placeholder: 'カード背面4桁もしくは3桁の番号', maxlength: "4"
        .content-bottom#card_token
          = f.submit '追加する', class: 'content-bottom--add-btn', id: 'token_submit'


