= form_for @product do |f|
  商品名#{f.text_field :name}
  %br/
  価格#{f.text_field :price}
  %br/
  商品説明#{f.text_area :explanation}
  %br/
  商品状態#{f.select :condition, Product.conditions.keys.map {|k| [k, k]}, {}, { class: 'form-control', style: 'margin-bottom: 15px;', data: {} }}
  %br/
  配送料の負担#{f.select :is_shipping_buyer, [["配送料なし（出品者負担）", false], ["配送料あり（購入者負担）", true]]}
  %br/
  発送日数#{f.text_field :preparationdays}
  %br/
  ブランド#{f.text_field :brand}
  %br/

  .listing-product-detail__category
    .listing-select-wrapper
      .listing-select-wrapper__box
      = f.select :category_id, @category_parent_array.map{|category| [category.name, category.id]},{include_blank:'---'}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}

  %br/
  #image-box
    = f.fields_for :pictures do |i|
      .js-file_group{"data-index" => "#{i.index}"}
        = i.file_field :image, class: 'js-file'
        %br/
        %span.js-remove 削除
  %br/

  = f.submit