.content
  %p= product.name
  %p
    = product.price
    円
  %p
    = product.explanation
    説明
  %p
    = product.condition
    状態
  %p
    = product.preparationdays
    日数
  %p
    = product.is_shipping_buyer
    発送
  %p
    = product.brand
    ブランド
  %p
    = product.category_id
    カテゴリー番号
  - product.pictures.each do |picture|
    = image_tag picture.image.url