<header>
 <div class="header__contents">
  <div class="header__contents__left">
    <%= image_tag asset_path('logo/logo.png'), :size =>'185x49' %>
  </div>

  <div class="header__contents__right">
    <div class="step1 ">会員情報入力</div>
    <div class="step2 selected">住所情報登録</div>
    <div class="step3">完了</div>

    <ol class="header__contents__right__stepbar">
        <li class="done">
          <span></span>
        </li>
        <li class="done">
          <span></span>
        </li>
        <li>
          <span></span>
        </li>
    </ol>
</div>


</header>
<div class="userinfo__main">
  <div class="userinfo__main__container">
    <div class="userinfo__main__container__head">
    <p>住所情報登録</p>
    </div>  
    <div class="userinfo__main__container__body"> 
    <%= form_for @address do |f| %>
      <%= render "devise/shared/error_messages", resource: @address %>
   　<div class="userinfo__main__container__body__field">
       <div class="userinfo__main__container__body__field__title">
          <%= f.label :postcode %>
          <div class="userinfo__main__container__body__field__title__required">必須</div>
        </div>
        <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode", :placeholder => "郵便番号" %>
      </div>

    　<div class="userinfo__main__container__body__field">
       <div class="userinfo__main__container__body__field__title">
          <%= f.label :prefecture_id %>
          <div class="userinfo__main__container__body__field__title__required">必須</div>
        </div>
        <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name,{prompt: "都道府県"}, {class: "prefecture"} %>
      </div>


    　<div class="userinfo__main__container__body__field">
       <div class="userinfo__main__container__body__field__title">
          <%= f.label :city %>
          <div class="userinfo__main__container__body__field__title__required">必須</div>
        </div>
        <%= f.text_field :city, autofocus: true, autocomplete: "city", :placeholder => "市区町村" %>
      </div>
    　<div class="userinfo__main__container__body__field">
       <div class="userinfo__main__container__body__field__title">
          <%= f.label :street %>
          <div class="userinfo__main__container__body__field__title__required">必須</div>
        </div>
        <%= f.text_field :street, autofocus: true, autocomplete: "street", :placeholder => "番地" %>
      </div>
    　<div class="userinfo__main__container__body__field">
       <div class="userinfo__main__container__body__field__title">
          <%= f.label :building %>
        </div>
        <%= f.text_field :building, autofocus: true, autocomplete: "street", :placeholder => "ビル名" %>
      </div>


    　<div class="userinfo__main__container__body__field">
       <div class="userinfo__main__container__body__field__title">
          <%= f.label :phone_number %>
          <div class="userinfo__main__container__body__field__title__required">必須</div>
        </div>
        <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", :placeholder => "電話番号" %>
      </div>

      <div class="userinfo__main__container__body__submit">
        <%= f.submit "登録する" %>
      </div>
      <div class="userinfo__main__container__body__submit">
        <%= link_to '戻る', :back %>
      </div>
    <% end %>
    </div>
  </div>
<div class="footer">
  <div class="footer__top">
    <ul>
      <a href="https://www.mercari.com/jp/tos/" target="_blank"><li>プライバシーポリシー</li></a>
      <a href="https://www.mercari.com/jp/tos/" target="_blank"><li>furima利用規約</li></a>
      <a href="https://www.mercari.com/jp/tos/" target="_blank"><li>特定商取引に関する表記</li></a>
    </ul>
  </div>
</div>







