%h2 住所情報登録
= form_for @address do |f|
  = render "devise/shared/error_messages", resource: @address
  .field
    = f.label :postcode
    %br/
    = f.text_field :postcode
  .field
    = f.label :prefecture_id
    %br/
    = f.collection_select :prefecture_id, Prefecture.all, :id, :name
  .field
    = f.label :city
    %br/
    = f.text_field :city
  .field
    = f.label :street
    %br/
    = f.text_field :street
  .field
    = f.label :building
    %br/
    = f.text_field :building
  .field
    = f.label :phone_number
    %br/
    = f.text_field :phone_number
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
