%body
  %header
    .header__contents
      .header__contents__left
        = image_tag asset_path('logo/logo.png'), :size =>'185x49'
      .header__contents__right
        .step1 会員情報入力
        .step2.selected 住所情報登録
        .step3 完了
        %ol.header__contents__right__stepbar
          %li.done
            %span
          %li.done
            %span
          %li
            %span
    .userinfo__main
      .userinfo__main__container
        .userinfo__main__container__head
          %p 住所情報登録
        = form_for @address do |f|
          = render "devise/shared/error_messages", resource: @address
          .userinfo__main__container__body
            .userinfo__main__container__body__field
              .userinfo__main__container__body__field__title
                = f.label :postcode
                .userinfo__main__container__body__field__title__required 必須
              = f.text_field :postcode, autofocus: true, autocomplete: "postcode", :placeholder => "郵便番号", id: "address_zipcode"
            .userinfo__main__container__body__field
              .userinfo__main__container__body__field__title
                = f.label :prefecture_id
                .userinfo__main__container__body__field__title__required 必須
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name,{prompt: "都道府県"}, {class: "prefecture"}
            .userinfo__main__container__body__field
              .userinfo__main__container__body__field__title
                = f.label :city
                .userinfo__main__container__body__field__title__required 必須
              = f.text_field :city, autofocus: true, autocomplete: "city", :placeholder => "市区町村", id:"address_city"
            .userinfo__main__container__body__field
              .userinfo__main__container__body__field__title
                = f.label :street
                .userinfo__main__container__body__field__title__required 必須
              = f.text_field :street, autofocus: true, autocomplete: "street", :placeholder => "番地",id: "address_district"
            .userinfo__main__container__body__field
              .userinfo__main__container__body__field__title
                = f.label :building
              = f.text_field :building, autofocus: true, autocomplete: "street", :placeholder => "ビル名"
            .userinfo__main__container__body__field
              .userinfo__main__container__body__field__title
                = f.label :phone_number
                .userinfo__main__container__body__field__title__required 必須
              = f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", :placeholder => "電話番号"
            .userinfo__main__container__body__submit
              = f.submit "登録する"
            .userinfo__main__container__body__back
              = link_to '戻る', :back
    .footer
      .footer__top
        %ul
          %a{:href => "https://www.mercari.com/jp/tos/", :target => "_blank"}
            %li プライバシーポリシー
          %a{:href => "https://www.mercari.com/jp/tos/", :target => "_blank"}
            %li furima利用規約
          %a{:href => "https://www.mercari.com/jp/tos/", :target => "_blank"}
            %li 特定商取引に関する表記
